{#
/**
 * @file
 * Template for Radix Taylor Flipped.
 *
 * Variables:
 * - $css_id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 * panel of the layout. This layout supports the following sections:
 */
#}
{%
    set container_classes = [
    'panel-display',
    'taylor-flipped',
    'clearfix'
]
%}
{% if classes %}
    {% set container_classes = container_classes|merge(classes) %}
{% endif %}
{% if class %}
    {% set container_classes = container_classes|merge(class) %}
{% endif %}

<div {{ attributes.addClass(container_classes) }}{% if css_id %}{{ css_id }}{% endif %}>

  <div class="container-fluid">
    {% if content.header %}
      <div class="row">
        <div class="col-lg-12 radix-layouts-header panel-panel">
          <div {{ region_attributes.header.addClass('panel-panel-inner') }}>
            {{ content.header }}
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-lg-3 radix-layouts-quarter1 panel-panel">
        <div {{ region_attributes.quarter1.addClass('panel-panel-inner') }}>
          {{ content.quarter1 }}
        </div>
      </div>
      <div class="col-lg-3 radix-layouts-quarter2 panel-panel">
        <div {{ region_attributes.quarter2.addClass('panel-panel-inner') }}>
          {{ content.quarter2 }}
        </div>
      </div>
      <div class="col-lg-6 radix-layouts-half panel-panel">
        <div {{ region_attributes.half.addClass('panel-panel-inner') }}>
          {{ content.half }}
        </div>
      </div>
    </div>
    
    {% if content.footer %}
      <div class="row">
        <div class="col-lg-12 radix-layouts-footer panel-panel">
          <div {{ region_attributes.footer.addClass('panel-panel-inner') }}>
            {{ content.footer }}
          </div>
        </div>
      </div>
    {% endif %}
</div>
  
</div><!-- /.taylor -->
