{#
/**
 * @file
 * Template for Radix Bartlett.
 *
 * Variables:
 * - $css_id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 * panel of the layout. This layout supports the following sections:
 */
#}
{%
  set container_classes = [
    'panel-display',
    'bartlett',
    'clearfix'
  ]
%}
{% if classes %}
  {% set container_classes = container_classes|merge(classes) %}
{% endif %}
{% if class %}
  {% set container_classes = container_classes|merge(class) %}
{% endif %}

<div{{ attributes.addClass(container_classes) }}{% if css_id %}{{ css_id }}{% endif %}>
  <div class="container-fluid layout">
    <div class="row">

      <!-- Sidebar -->
      <div class="col-lg-4 radix-layouts-sidebar panel-panel">
        <div {{ region_attributes.sidebar.addClass('panel-panel-inner') }}>
          {{ content.sidebar }}
        </div>
      </div>

      <div class="col-lg-8 panel-panel">
        <div class="row">
          <div class="col-lg-12 radix-layouts-contentheader panel-panel">
            <div {{ region_attributes.contentheader.addClass('panel-panel-inner') }}>
              {{ content.contentheader }}
            </div>
          </div>
          <div class="col-lg-6 radix-layouts-contentcolumn1 panel-panel">
            <div {{ region_attributes.contentcolumn1.addClass('panel-panel-inner') }}>
              {{ content.contentcolumn1 }}
            </div>
          </div>
          <div class="col-lg-6 radix-layouts-contentcolumn2 panel-panel">
            <div {{ region_attributes.contentcolumn2.addClass('panel-panel-inner') }}>
              {{ content.contentcolumn2 }}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>  
</div><!-- /.bartlett -->
