{#
/**
 * @file
 * Template for Radix Phelan.
 *
 * Variables:
 * - $css_id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 * panel of the layout. This layout supports the following sections:
 */
#}
{%
    set container_classes = [
    'panel-display',
    'phelan',
    'clearfix'
]
%}
{% if classes %}
    {% set container_classes = container_classes|merge(classes) %}
{% endif %}
{% if class %}
    {% set container_classes = container_classes|merge(class) %}
{% endif %}

<div {{ attributes.addClass(container_classes) }}{% if css_id %}{{ css_id }}{% endif %}>

  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 radix-layouts-column1 panel-panel">
        <div {{ region_attributes.column1.addClass('panel-panel-inner') }}>
          {{ content.column1 }}
        </div>
      </div>
      <div class="col-lg-6 radix-layouts-column2 panel-panel">
        <div {{ region_attributes.column2.addClass('panel-panel-inner') }}>
          {{ content.column2 }}
        </div>
      </div>
    </div>
  </div>

</div><!-- /.phelan -->
