{#
/**
 * @file
 * Template for Radix Burr Flipped.
 *
 * Variables:
 * - $css_id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 * panel of the layout. This layout supports the following sections:
 */
#}
{%
    set container_classes = [
    'panel-display',
    'burr-flipped',
    'clearfix'
]
%}
{% if classes %}
    {% set container_classes = container_classes|merge(classes) %}
{% endif %}
{% if class %}
    {% set container_classes = container_classes|merge(class) %}
{% endif %}

<div {{ attributes.addClass(container_classes) }}{% if css_id %}{{ css_id }}{% endif %}>
  
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 radix-layouts-content panel-panel">
        <div {{ region_attributes.contentmain.addClass('panel-panel-inner') }}>
          {{ content.contentmain }}
        </div>
      </div>
      <div class="col-lg-4 radix-layouts-sidebar panel-panel">
        <div {{ region_attributes.sidebar.addClass('panel-panel-inner') }}>
          {{ content.sidebar }}
        </div>
      </div>
    </div>
  
  </div>
</div><!-- /.burr-flipped -->
